<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljo.dao.ICompanyDao" >
  <resultMap id="BaseResultMap" type="com.ljo.dto.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="companycode" property="companycode" jdbcType="VARCHAR" />
    <result column="companytypecode" property="companytypecode" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="legal" property="legal" jdbcType="VARCHAR" />
    <result column="capital" property="capital" jdbcType="DECIMAL" />
    <result column="industrycode" property="industrycode" jdbcType="VARCHAR" />
    <result column="industryname" property="industryname" jdbcType="VARCHAR" />
    <result column="setuptime" property="setuptime" jdbcType="TIMESTAMP" />
    <result column="cratetime" property="cratetime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, companyname, companycode, companytypecode, area, parentid, legal, capital, industrycode, 
    industryname, setuptime, cratetime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from um_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from um_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ljo.dto.Company" >
    insert into um_company (id, companyname, companycode, 
      companytypecode, area, parentid, 
      legal, capital, industrycode, 
      industryname, setuptime, cratetime, 
      updatetime)
    values (#{id,jdbcType=INTEGER}, #{companyname,jdbcType=VARCHAR}, #{companycode,jdbcType=VARCHAR}, 
      #{companytypecode,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{legal,jdbcType=VARCHAR}, #{capital,jdbcType=DECIMAL}, #{industrycode,jdbcType=VARCHAR}, 
      #{industryname,jdbcType=VARCHAR}, #{setuptime,jdbcType=TIMESTAMP}, #{cratetime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ljo.dto.Company" >
    insert into um_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="companycode != null" >
        companycode,
      </if>
      <if test="companytypecode != null" >
        companytypecode,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="legal != null" >
        legal,
      </if>
      <if test="capital != null" >
        capital,
      </if>
      <if test="industrycode != null" >
        industrycode,
      </if>
      <if test="industryname != null" >
        industryname,
      </if>
      <if test="setuptime != null" >
        setuptime,
      </if>
      <if test="cratetime != null" >
        cratetime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="companytypecode != null" >
        #{companytypecode,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="legal != null" >
        #{legal,jdbcType=VARCHAR},
      </if>
      <if test="capital != null" >
        #{capital,jdbcType=DECIMAL},
      </if>
      <if test="industrycode != null" >
        #{industrycode,jdbcType=VARCHAR},
      </if>
      <if test="industryname != null" >
        #{industryname,jdbcType=VARCHAR},
      </if>
      <if test="setuptime != null" >
        #{setuptime,jdbcType=TIMESTAMP},
      </if>
      <if test="cratetime != null" >
        #{cratetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljo.dto.Company" >
    update um_company
    <set >
      <if test="companyname != null" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        companycode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="companytypecode != null" >
        companytypecode = #{companytypecode,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="legal != null" >
        legal = #{legal,jdbcType=VARCHAR},
      </if>
      <if test="capital != null" >
        capital = #{capital,jdbcType=DECIMAL},
      </if>
      <if test="industrycode != null" >
        industrycode = #{industrycode,jdbcType=VARCHAR},
      </if>
      <if test="industryname != null" >
        industryname = #{industryname,jdbcType=VARCHAR},
      </if>
      <if test="setuptime != null" >
        setuptime = #{setuptime,jdbcType=TIMESTAMP},
      </if>
      <if test="cratetime != null" >
        cratetime = #{cratetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljo.dto.Company" >
    update um_company
    set companyname = #{companyname,jdbcType=VARCHAR},
      companycode = #{companycode,jdbcType=VARCHAR},
      companytypecode = #{companytypecode,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      legal = #{legal,jdbcType=VARCHAR},
      capital = #{capital,jdbcType=DECIMAL},
      industrycode = #{industrycode,jdbcType=VARCHAR},
      industryname = #{industryname,jdbcType=VARCHAR},
      setuptime = #{setuptime,jdbcType=TIMESTAMP},
      cratetime = #{cratetime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findCompanys" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from um_company
    <where>
      <if test="companyname != null and companyname != ''"> companyname like #{companyname}</if>
    </where>
    order by id asc
  </select>
</mapper>